
div.start-page {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  border: 1px solid red;

  div.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2vw 0;

    div.login-container {
      display: flex;
      flex-direction: column;

      button {
        margin: 1vw auto;
      }
    }
  }

  div.info-container {
    width: 60%;
    margin: 2vw auto;
    height: 28vw;

    p {
      width: 60%;
      margin: auto;
      line-height: 1.6;
      letter-spacing: .1vw;
    }
  }

  div.footer {
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    margin-bottom: 0;

    button {
      margin: 2vw auto;
    }
  }
}
