.login {
    h1 {
        text-align: center;
    }
}

* {
    font-family: sans-serif;
}

.landingPage {
    background-image: linear-gradient(white, rgb(115, 186, 230));
    position: relative;

    h1 {
        text-align: center;
    }

    .pPitch {
        margin: 0 auto;
        width: 50vw;
    }
}

.carouselContainer {
    width: 60%;
    margin: 1em auto;
}

.carouselImg {
    height: 25em;
    width: 50em;
}

.secondPitch {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;

    .card {
        margin-top: 1em;
        margin-bottom: 1em;
        width: 15em;
        height: 20em;
        background-color: transparent;

        .clientImg {
            margin: 2vh auto;
            height: 10em;
            width: 10em;
        }
    }
}

.clientQuate {
    position: relative;
    bottom: 1.25em;
    right: 0.4em;
    font-size: 1.25rem;
    font-family: tahoma;

    &::before {
        position: relative;
        top: 0.1em;
        margin-bottom: 1em;
        content: "\"";
        font-family: 'Bitter', serif;
        font-size: 3em;
        color: #999;
    }
}

.clientName {
    position: relative;
    bottom: 1.25em;
    right: 0.5em;
    font-size: 1.1em;
    font-style: italic;
    text-align: right;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.removeLink {
    &:hover {
        color: white;
    }
}

.testerHeight {
    height: 77.5vh;
}

.questionText {
    border-radius: 5px;
}

.selectQuestionType, .addAnotherQuestion {
    &:hover {
        color: white;
        background: #428bca;
    }

    .innerOpt {
        background: white;
        color: #428bca;
    }
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 5em;
}

div.info-container {
    width: 60%;
    margin: 2vw auto;
    height: 28vw;

    p {
        width: 60%;
        margin: auto;
        line-height: 1.6;
        letter-spacing: .1vw;
    }
}

.CreationComp {
    background-image: linear-gradient(white, rgb(115, 186, 230));
}

.multiDiv {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 20em;
}

.fullQuestion {
    width: 100%;
    margin: 1vw auto;
    font-size: 1vw;
    text-align: center;

    span {
        margin-right: .6vw;

        // login component ###################
        div.account-container {
            .card-account {
                margin: 10vw auto;
                background: #E9E9E9;
            }
        }

        // .deleteButton {
        //     font-size: 1vw;
        //     background: red;
        // }

        .removeLink {
            text-decoration: none;
            color: black;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

// .login-out {
//   position: relative;
//   left: 88vw;
//   top: 0;
//   margin: 1vw;
// }

// .tests {
//   top: 5vw;
//   left: 78vw;
// }
// .yesCheck {
//     &:checked {
//         background-color: green;
//     }
// }

// .creatorForm{
//   display: flex;
//   flex-direction: column;

// }

// .selectQuestionType,.testName, .questionText, .questionType{
//   width: 12em;
//   margin: .3vw auto;
// }

// .login{
//     h1{
//         text-align: center;
//     }
// }

// .login-out {
//   position: relative;
//   left: 88vw;
//   top: 0;
//   margin: 1vw;
// }

// .tests {
//   top: 5vw;
//   left: 78vw;
// }

// .header{
//     display: flex;
//     justify-content: space-between;
// }
// .landingPage{
// background-image: linear-gradient(white,rgb(12, 123, 192));
// height: 30em;
// h1{
//     text-align: center;
// }
// }
// .footer{
//     margin-top: 2em;
//     display: flex;
//     justify-content: space-around;
// }

// .logo{
//   width: 5em;
// }

// div.info-container {
//   width: 60%;
//   margin: 2vw auto;
//   height: 28vw;

//   p {
//     width: 60%;
//     margin: auto;
//     line-height: 1.6;
//     letter-spacing: .1vw;
//   }
// }

// .creatorForm{
//   display: flex;
//   flex-direction: column;

// }

// .selectQuestionType,.testName, .questionText, .questionType{
//   width: 12em;
//   margin: .3vw auto;
// }

// .multiDiv{
// margin: 0 auto;
// display: flex;
// flex-direction: column;
// width: 20em;
// }

// .fullQuestion{
//   width: 100%;
//   margin: 1vw auto;
//   font-size: 1vw;
//   text-align: center;
//   span{
//     margin-right: .6vw;
// // login component ###################
// div.account-container {

//   .card-account {
//     margin: 10vw auto;
//     background: #E9E9E9;
//   }
// }

// .deleteButton{
//   font-size: 1vw;
//   background: red;
// }

// .removeLink{
//   text-decoration: none;
//   color:black;
//   &:hover {
//   text-decoration: none;
// }
// }}}
