
.login{
    h1{
        text-align: center;
    }
}
.loginForm,.createAccountForm{
    display: flex;
    flex-direction: column;
    width: 15em;
    margin: 0 auto;
}

.login-out {
  position: relative;
  left: 88vw;
  top: 0;
  margin: 1vw;
}

.header{
    display: flex;
    justify-content: space-between;
}
.landingPage{
height: 30em;
background:lightgray;
h1{
    text-align: center;
}
}
.footer{
    display: flex;
    justify-content: space-around;
}




div.info-container {
  width: 60%;
  margin: 2vw auto;
  height: 28vw;

  p {
    width: 60%;
    margin: auto;
    line-height: 1.6;
    letter-spacing: .1vw;
  }
}

// login component ###################
div.account-container {

  .card-account {
    margin: 10vw auto;
    background: #E9E9E9;
  }
}
